doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    script(src='//load.sumome.com/', data-sumo-site-id='921d76eb9704f658154671476e18ccfb1330e6f4134801664ba3751e14622a18', async='async')

  body
    //if lt IE 8
      p.browserupgrade
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    header.header#header

      nav.main.bold-14
        ul
          li
            a(href='#aboutSection')
              | Ab-
              br
              | ou-
              br
              | t
          li
            a(href='#actionSection')#menuAction
              | Ac-
              br
              | ti-
              br
              | on
          li
            a(href='#howSection')#menuHow
              | Ho-
              br
              | w-
              br
              | ?
          li
            a(href='#gifsSection')#menuGifs
              | Gi-
              br
              | f-
              br
              | s
          li
            a(href='#contactSection' style="border-right: 2px solid;")#menuContact
              | Co-
              br
              | nt-
              br
              | act
      h1.logo
        a(href='#')
        .ltext
          span.f OH!
          span.l MY

      .txt.regular-14
        span.medium-14 PMS
        |  is an
        span.medium-14  «augmented reality exhibition»
        |  that transforms the printed illustrations regarding this delicate
        span.medium-14  time of the month
        |  into an interactive experience of animated gifs by
        span.medium-14  women artists.

    section#aboutSection.section.about
      .container
        .row
          h2.title.about-menu
            | Ab-
            br
            | ou-
            br
            | t
        .row(style='padding-top:67px')
          .col-md-7.col-md-offset-2.summary-txt.col-xs-12
            p
              |  The exhibition curated by Meltem Şahin features the work of 22 artists as they share their perspectives on premenstrual syndrome. Self-identifying as an augmented-reality exhibition with an emphasis on utilizing GIFs, attendees can download the
              br
              span.bold-16 ‘PMS Augmented Reality‘
              |  app and interact with the various works in a unique, personal way.
            p
              | Artists from the USA, China, India, Taiwan, South Korea, and Turkey include Aimee Chang, Aylin Ohri, Aditi Damle, Cansu Topaloğlu, Cinyee Chiu, Çağıl Harmandar, Ece Zeber, Ece Çiftçi, Elif Demir, Emily Joynton, İdil Ar, Işık Dikmen, Maily Degnan, Melis Balcı, Meltem Şahin, Mengyang Wang, Merve Atılgan, Nurbanu Asena, Qieer Wang, Sena Kwon, Sırma Doruk and Yiran Guo.
        .row
          .col-md-8.col-xs-12.col-md-offset-2.summary-txt
            p.press-text
              | The exhibition appeared on national and international media.
              .press-icons
                a(href='http://www.milliyet.com.tr/-histerikligi-sahiplenmek--gundem-2440410/' target='_blank').press-link
                  img(src="img/milliyetlogo.png" title= "Milliyet Logo").press-logo

                a(href='http://www.gazetevatan.com/kadinlar-dertlerini-posterlerle-anlatiyor-1058295-pazar-vatan/' target='_blank').press-link
                  img(src="img/vatanlogo.png" title= "Vatan Logo").press-logo

                a(href='http://bantmag.com/regl-oncesi-sendromu-uzerine-bir-artirilmis-gerceklik-sergisi-pms/' target='_blank').press-link
                  img(src="img/bantmaglogo.png" title= "Bantmag Logo").press-logo

                a(href='http://www.zeroistanbul.com/etkinlikler/sergi/2017/4/14/pms-1' target='_blank').press-link
                  img(src="img/zero.png" title= "Zero Logo").press-logo

                a(href='http://www.artfulliving.com.tr/gundem/artirilmis-gerceklik-sergisi-pms-i-11473' target='_blank').press-link
                  img(src="img/artfullogo.png" title= "Artful Logo").press-logo.artful

                a(href='http://bigumigu.com/haber/regl-oncesi-sendromu-odakli-artirilmis-gerceklik-sergisi-pms/' target='_blank').press-link
                  img(src="img/bigumigu.png" title= "Bigumigu Logo").press-logo
    section#actionSection.section.action
      video.ohmyaction(id="pmshand" muted="muted" loop="loop" preload="auto" autoplay="", playsinline='',name='media')
          source(src='img/cansu.mp4', type='video/mp4')
      .container
        h2.title.actionTitle
          | Ac-
          br
          | ti-
          br
          | on

        .row
          .col-md-offset-7.col-md-2.pull-right
            p(style='margin-top:96px; padding-left:25px').artist-q
              span.artist-name Cansu Topaloğlu
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018

    section#howSection.section.how
      .container
        h2.titlePink
          | Ho-
          br
          | w-
          br
          | ?
        .row
          .col-md-4.col-md-offset-2.sectionTextWhite.col-xs-11.col-xs-offset-1
            .row
              .col-xs-12
                .howto-text.regular-17(style='margin-top: 192px;')
                    ul(style='line-height: 20px;').download-ins
                      li.howto-inst » Download ‘
                        span.bold-17 PMS Augmented Reality’
                        |  app from Apple or Android Store.
                      //- li.howto-inst
                      li.howto-inst » Open the app and allow the camera.
                      li.howto-inst » Point your device
                        span.bold-17   NOW
                        |  to the image on your right.
                      li.howto-inst » And enjoy this painful experience in augmented reality.
            .row.download-info-small
              .col-md-2.col-xs-4.col-xs-offset-1
                a(href='https://itunes.apple.com/tr/app/pms-augmented-reality/id1224593000' target='_blank')
                  img(src="img/itunes.png" title= "Apple Store PMS - Augmented Reality App").store-logo
              .col-md-2.col-md-offset-2.col-xs-4
                a(href='https://play.google.com/store/apps/details?id=info.meltemsahin.PMS' target='_blank')
                  img(src="img/android.png" title= "Android Store PMS - Augmented Reality App").store-logo

          .col-md-6.col-xs-12(style='margin-top: 70px;').howimg.pull-right
            img#howtoelf(src = 'img/elf.png').art-augment


    section#gifsSection.section.gifs
      .container.gifContainer
        h2.title.whiteTitle
          | Gi-
          br
          | f-
          br
          | s
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/fshQzsnf2BpWCXkqJx/giphy.gif" title= "Aimee Chang").gifSmall
            p.artist-q
              span.artist-name Aimee Chang
              br
              span.art-location  Taipei, Taiwan
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="img/aylin.gif" title= "Aylin Ohri").gifSmall
            p.artist-q
              span.artist-name Aylin Ohri
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/eNFVCZpVl9Eu52riq1/giphy.gif" title= "Aditi Damle").gifSmall
            p.artist-q.artist-z
              span.artist-name Aditi Damle
              br
              span.art-location Mumbai, India
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/W6RjDLr41rK5PZwSG1/giphy.gif" title= "Cansu Topaloğlu").gifSmall
            p.artist-q
              span.artist-name Cansu Topaloğlu
              br
              span.art-location  Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/dy9caPeYSkexbxHhX3/giphy.gif" title= "Cinyee Chiu").gifSmall
            p.artist-q
              span.artist-name Cinyee Chiu
              br
              span.art-location Taipei, Taiwan
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/IffquM5HyZuh4Jkmed/giphy.gif" title= "Çağıl Harmandar").gifSmall
            p.artist-q.artist-z
              span.artist-name Çağıl Harmandar
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/USJntBKWgcczwMb8C2/giphy.gif" title= "Ece Çiftçi").gifSmall
            p.artist-q
              span.artist-name Ece Çiftçi
              br
              span.art-location  Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/jP4YLA10WTyRN5RjIT/giphy.gif" title= "Elif Demir").gifSmall
            p.artist-q
              span.artist-name Elif Demir
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="img/emily.gif" title= "Emily Joyton").gifSmall
            p.artist-q
              span.artist-name Emily Joynton
              br
              span.art-location  Texas, USA
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/Qst7ArWWx2CbSoyS71/giphy.gif" title= "İdil Ar").gifSmall
            p.artist-q
              span.artist-name İdil Ar
              br
              span.art-location  Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/QC26VsGobKnbpMwZeL/giphy.gif" title= "Işık Dikmen").gifSmall
            p.artist-q
              span.artist-name Işık Dikmen
              br
              span.art-location Eskişehir, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/hp4Etp8VzlQRt9Hpte/giphy.gif" title= "Mai Ly Degnan").gifSmall
            p.artist-q.artist-z
              span.artist-name Maily Degnan
              br
              span.art-location Baltimore, USA
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/TFOiAMDNfdjeb5l2Br/giphy.gif" title= "Melis Balcı").gifSmall
            p.artist-q
              span.artist-name Melis Balcı
              br
              span.art-location  Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/J1XmkXBgtGCdToL41A/giphy.gif" title= "Meltem Şahin").gifSmall
            p.artist-q
              span.artist-name Meltem Şahin
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/J61d5jt83Or9ybpeft/giphy.gif").gifSmall
            p.artist-q.artist-z
              span.artist-name Mengyang Wang
              br
              span.art-location Yaan, China
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/QsClvr5wBKiZEAHmww/giphy.gif" title= "Merve Atılgan").gifSmall
            p.artist-q
              span.artist-name Merve Atılgan
              br
              span.art-location  Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/kG3JirfyqRLq6nLTyQ/giphy.gif" title= "Nurbanu Asena").gifSmall
            p.artist-q
              span.artist-name Nurbanu Asena
              br
              span.art-location London, UK
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/VIESX55ek7LiXen43t/giphy.gif" title= "Qieer Wang").gifSmall
            p.artist-q.artist-z
              span.artist-name Qieer Wang
              br
              span.art-location Chengdu, China
              br
              span.exhibition-year 2018
        .row.gif-row
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/VIWa6sRA0UjLtb5mH5/giphy.gif" title= "Sena Kwon").gifSmall
            p.artist-q
              span.artist-name Sena Kwon
              br
              span.art-location  Seul, Korea
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/JmIbjnwOzZMsNDmxdx/giphy.gif" title= "Sırma Doruk").gifSmall
            p.artist-q
              span.artist-name Sırma Doruk
              br
              span.art-location Istanbul, Turkey
              br
              span.exhibition-year 2018
          .col-lg-4.gif-col
            img(src="https://media.giphy.com/media/iDaR0so3zQ6aExkUBb/giphy.gif" title= "Yiran Guo").gifSmall
            p.artist-q.artist-z
              span.artist-name Yiran Guo
              br
              span.art-location Bejing, China
              br
              span.exhibition-year 2018


    section.section.contact
      .container#contactSection
        h2.title.contact-menu
          | Co-
          br
          | nt-
          br
          | act
        .row.contact-form
          .col-md-5.col-md-offset-3.col-xs-10.col-xs-offset-1
              form(action="/contact" method="post" style='margin-left:43px; width:98%')#contact-form.contact-form-input-borders
                .form-group.contact-form-input
                  input#exampleInputName1.cursor.form-control(name='name' type='text', placeholder='Name', style='border-bottom:none').regular-16.input-height

                .form-group.contact-form-input
                  input#exampleInputEmail1.form-control(name='email' type='email', aria-describedby='emailHelp', placeholder='Email').regular-16.input-height

                .form-group.contact-form-text-input
                  textarea#exampleTextarea.contact-form-input-borders.form-control(name='message' rows='5', placeholder='Message' style='padding-top: 14px;').regular-16.input-height
                button#contact-submit.form-submit-button.btn.btn-primary(type='submit') Submit

        .row
          .col-md-4.col-md-offset-3.col-xs-7.col-xs-offset-1.social-media-icon-container
              a(href='https://www.facebook.com/ohmypms' target='_blank')
                img(src="img/facebookicon.png" title= "Facebook" ).social-media-icons
              a(href='https://www.instagram.com/ohmy.pms' target='_blank')
                img(src="img/instagramicon.png" title= "Instagram" ).social-media-icons
          .col-md-3.col-md-offset-2.col-xs-2.col-xs-offset-1.social-media-icon-container
              a#top-nav(href='#header').pull-right
                img(src="img/up.png" title= "navigation up")

    script(src='js/vendor/jquery-1.12.0.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.scrollTo-min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
