/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-tap-highlight-color:transparent;
}

@font-face {
    font-family: 'NeutralStdBold'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ Bold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'NeutralStdBoldItalic'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ BoldItalic.otf'); /*URL to font*/
}

@font-face {
    font-family: 'NeutralStdRegular'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'NeutralStdRegularItalic'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ RegularItalic.otf'); /*URL to font*/
}


@font-face {
    font-family: 'NeutralStdMedium'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ Medium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'NeutralStdMediumItalic'; /*a name to be used later*/
    src: url('../fonts/NeutralStd\ MediumItalic.otf'); /*URL to font*/
}

body {
    font-size: 16px;
    font-family: NeutralStdRegular, Helvetica, Arial, Sans-Serif;
    background: #fff;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}

a,
button,
input[type="submit"] {
    text-decoration: none !important;
    outline: 0 !important;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

a {
    color: #f7931e;
}

a:hover {
    color: #e78007;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #0f2539;
}

ul,
ol,
figure,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

strong,
b {
    font-weight: bold !important;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #9a9a9a;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9a9a9a;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9a9a9a;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #9a9a9a;
}

.block {
    display: block;
}

.inline-block{
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: 0 !important;
}


.header {
    position: relative;
    z-index: 2;
    display: table;
    width:100%;
    min-height: 535px;
    padding:66px 0;
    background-color:#000;
}

.header .main {
    float:left;
    margin-top: 18px;
}


.header .main ul {
    display: table;
}

.header .main ul li {
    display: table-cell;
}

.header .main ul li a {
    line-height: 1.1;
    display: block;
    border: 2px solid #f7931e;
    border-right: none;
    color: #f7931e;
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 14px;
    width: 45px;
    height: 66px;
    padding: 6px 0px 0px 9px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    font-family: NeutralStdBold;
}

.header .main ul li a:hover {
    color:#000;
    background-color:#f7931e;

}

.header .logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 552px;
   height: 352px;
   display: inline-block;
   margin-left: -247px;
   margin-top: -85px;
   background: url(../img/pms.gif) no-repeat;
}

.header .logo a {
   float:left;
   width:100%;
   height:100%;
}

.header .logo .ltext {
   position: absolute;
   left:-85px;
   top:-20px;
}
.header .logo .ltext span {
   color:#fff;
   display: block;
}

.header .logo .ltext span.f {
    font-family: NeutralStdMediumItalic;
    font-size: 26px;
    margin-left: 9px;
}

.header .logo .ltext span.l {
   font-family: NeutralStdBoldItalic;
   font-size: 59px;
}

.header .logo a {
    display: block;
}

.header .txt {
    color:#fff;
    position: absolute;
    width: 109px;
    bottom:-104px;
    right: 20%;
}

.header .rightTxt {
    position: fixed;
    z-index: 2;
    padding:10px 13px;
    border:3px solid #f7931e;
    color:#f7931e;
    right: 0px;
    transform: rotate(90deg);
    height: 156px;
    margin-right: 29px;
    margin-top: 48px;
}

.header .rightTxt span.first {
    font-family: NeutralStdBold;
    font-size: 19px;
}

.header .rightTxt span.second {
    font-family: NeutralStdBold;
    font-size: 27px;
}

.header .rightTxt span.date {
    font-family: NeutralStdBold;
    font-size: 17px;
    /*letter-spacing: 5px;*/
}

.header .rightTxt span.month {
    font-family: NeutralStdRegular;
    font-size: 17px;
}

.header .rightTxt span.city {
    font-family: NeutralStdMediumItalic;
    font-size: 16px;}


.section {
    position: relative;
    z-index: 1;
    display: table;
    width:100%;
}
.section .container {
    position: relative;
}

.section p {
    margin-bottom: 20px;
}
.section .title {
    border:3px solid #000;
    padding:6px 4px 14px 4px;
    color:#000;
    position: absolute;
    font-family: NeutralStdBold;
    font-size: 20px;
}

.section .titlePink {
    border:3px solid #f44d68;
    padding:6px 4px 14px 4px;
    color:#f44d68;
    position: absolute;
    font-family: NeutralStdBold;
    font-size: 20px;
    margin-top: 192px;
}

section.about h2.title {
  margin-top: -25px;
}

.sectionTextWhite{
  color: #fff;
}

.section.about {
    background:#f44d68;
    padding:50px 0;
    color:#000;
    /*height: 540px;*/
}

.section.action {
    background:#f44d68;
    /*padding:100px 0;*/
    color:#000;
    height: 540px;
}

.section.how {
    background:#000000;
    color:#000;
    height: 590px;
}

.section.gifs {
    background:#fff;
    /*padding:100px 0;*/
    color:#000;
    height: 540px;
}

.section.contact {
    background:#f44d68;
    /*padding:100px 0;*/
    color:#000;
    height: 540px;
}

.actionTitle {
  z-index: 2;
  margin-top: 100px;
}


/*CONTACT FORM*/
.form-submit-button{
  border-radius: 0px;
  border-top-width: 0px;
  float: right;
  background-color: #F24F6A;
  border-color: #fff;
  margin-top: -15px;
}


.input-height{
  height: 48px;
}

.contact-form-input{
  margin-bottom: 0px;
}

.contact-form-border-bottom{
  border-bottom: 0px;
}

.contact-form-border-none{
  border-style: none;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}

.contact-form-input-borders input{
  border-radius: 0px;
  background-color: #F24F6A;
  border: 1px solid #fff;
  border-bottom-width: 0px;
}

.contact-form-input-borders textarea{
  border-radius: 0px;
  background-color: #F24F6A;
  border: 1px solid #fff;
}

.contact-form-text-input{
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }


/*About section items*/
.press-text{
  font-family: NeutralStdRegularItalic;
  font-size: 14px;
}

.presslogo{
  margin-left: 32px
}

.bold-16{
  font-family: NeutralStdBold;
  font-size: 16px;
}

.bold-17{
  font-family: NeutralStdBold;
  font-size: 17px;
}

/*head section items*/

.regular-14{
  font-family: NeutralStdRegular;
  font-size: 14px;
}

.regular-17{
  font-family: NeutralStdRegular;
  font-size: 17px;
}

.medium-14{
  font-family: NeutralStdMedium;
  font-size: 14px;
}

.bold-14{
  font-family: NeutralStdBold;
  font-size: 14px;
}

/*Action section items*/
.ohmyaction{
  width: 100%;
  position: absolute;
  left: 0;
  background: #000;
}

/* GIFS section items */
.section.gifs h2{
  background-color: #fff;
  margin-top: 190px;
}

/* CONTACT section items */
.contact-form{
  margin-top: 134px;
}

.contact-form-menu{
  margin-top: 190px;
}

.howto-inst{
  margin:15px 0 0 0;
}

.artist-name{
  font-family: NeutralStdMediumItalic;
  font-size: 12px;
}

.exhibition-year{
  font-family: NeutralStdRegularItalic;
  font-size: 12px;
}

.art-location{
  font-family: NeutralStdRegularItalic;
  font-size: 12px;
}

.artist-q{
  line-height: 13px;
  margin-top: 18px;
}

.social-media-icons{
  margin-right: 10px;
}

#howtoelf {
  height: : 100%;
}
.howimg{
  padding-left: 136px;
}

.summary-txt{
}

.summary-txt p{
  padding-left: 46px !important;
  padding-right: 70px;
}

.about-menu{

}

.whiteTitle{
  z-index:2;
  width: 53px;
}

.press-link{
   margin-right: 35px;
}

.press-icons{
  padding-left: 45px;
}

.contact-menu{
  margin-top: 400px;
}

.social-media-icon-container{
  margin-top:77px;
}

.gifSmall{
  max-width:300px;
}

.gif-animated{
  max-width:300px;
}

.howto-inst{
  /*list-style-type: disc;*/
  list-style-position: inside;
  text-indent: -0.8em;
  padding-left: 1em;
}

.up-button{
  padding-left:132px;
}

.gifContainer{
  padding-top: 103px  !important;
}

.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: transparent;
}

.social-media-icon-container{
  padding-left: 45px;

}
#top-nav{
  padding-right: 41px;
}

.cursor{
  color: white;
}

.download-info-small{
  margin-top: 55px;
}

.artful{
}

.gif-row{
  margin-bottom: 20px !important;
}

@media only screen and (max-width : 480px) {
    .gif-row{
      margin-top: 128px;
      margin-bottom: 20px !important;
    }
    .artist-z{
      margin-bottom: 38px !important;
    }
    .artful{
      height: 22px !important;
    }
    .download-info-small{
      margin-top: 31px;
    }
    .press-icons {
      padding-left: 33px;
      line-height: 28px;
      margin-top: -13px;
    }

    .header .main {
      margin-top: 0px;
    }

    #top-nav{
      padding-right: 0px;
      float:none !important;
      margin-left: 77px;
    }
    .howimg {
      padding-left: 45px;
    }
    .row {
      margin-right: 0px;
    }
    section.about h2.title {
      margin-top: -25px;
    }

    #gifsSection h2{
      margin-top: 25px !important;
      margin-left: 35px;
    }

    #contactSection h2{
      margin-top: 25px;
      margin-left: 20px;

    }

    .gifContainer{
      padding: 0px 0px 0px  !important;
      margin: 0px !important;
    }

    .section p{
      padding-right: 48px;
    }

    .artist-q {
      margin-top: 10px;
      margin-left: 49px;
    }

    .gif-col{
      padding: 0px;
    }
    .gifSmall{
      width: 100%
    }

    .social-media-icon-container{
      margin-top: -10px;
      margin-left: -10px;
    }

    .section.gifs {
      padding-bottom: 22px;
    }
    .contact-form {
        margin-top: 167px;
        margin-left: -69px;
        margin-right: 39px;
        margin-bottom: 68px;
    }
    .contact-menu{
      margin-top: 0px;
    }
    /* only size 'xs' and below */
    #actionSection {
        height: 200px;
    }

    #howtoelf {
        height: 300px;
    }

    .logo{
      height: 300px !important;
      top: 62% !important;
      margin-left: -66px !important;
      margin-top: -106px !important;
      left: 40% !important;
      width: 257px !important;
      /*background: url(../img/pms.gif) no-repeat !important;*/
      background-size: 242px !important;
    }

    .art-augment{
      height: 100% !important;
      width: 290px !important;
    }

    .header .logo .ltext {
        position: absolute;
        left: -43px;
        top: -11px;
    }

    .header .logo .ltext span.f {
      font-size: 16px !important;
    }

    .header .logo .ltext span.l {
      font-size: 30px !important;
    }

    .rightTxt{
      display: none;
      margin-top: -64px !important;
      position: absolute !important;
    }

    .howimg{
      margin-top: 30px !important;
      margin-bottom: 65px;
    }

    .howto-text{
      margin-top: 128px !important;
      margin-left: 21px !important;
      margin-right: 26px;
      font-size: 12px;
      line-height: 15px;
    }

    .store-logo{
      height: 30px;
    }

    .howto-text .bold-17{
      font-size: 12px;
    }

    .howto-text ul{
      line-height: 15px !important;
    }

    .summary-txt{
      margin: 10px 42px 0px 15px !important;
      font-size: 12px;
    }

    .summary-txt .bold-16 {
      font-size: 12px;
    }

    .press-text {
      font-size: 12px !important;
      margin-top: 0px;
    }

    .press-logo{
      height: 13px;
    }

    .press-link{
      margin-left: 13px;
      margin-right: 22px;
    }

    #aboutSection{
      padding-bottom: 42px !important;
    }

    .actionTitle{
      margin-top: 25px !important;
      margin-left: 20px !important;
    }

    .header a {
      font-size: 10px !important;
      width: 36px !important;
      height: 51px !important;
      padding: 4px 0px 0px 4px !important;
    }

    .header {
      line-height: 12px !important;
      min-height: 362px !important;
      padding: 25px 0px 0px 0px !important;
    }

    .header .txt {
      width: 84px;
      bottom: -100px;
      right: 34%;
      font-size: 11px;
      line-height: 14px;
    }

    .medium-14{
      font-size: 11px;
    }

    #menuAction{
      margin-left: -2px;
    }

    #menuHow{
      margin-left: -2px;
    }

    #menuGifs{
      margin-left: -2px;
    }

    #menuContact{
      margin-left: -2px;
    }

    .section .title{
      padding: 4px 4px 6px 4px;
      font-size: 13px;
    }

    .section .titlePink{
      padding: 4px 4px 6px 4px;
      font-size: 13px;
      margin-left: 20px;
      margin-top: 25px;
    }

    .whiteTitle{
      padding: 4px 4px 6px 4px !important;
      font-size: 13px !important;
      width: 39px !important;
      margin-top: -100px !important;
    }

    .about-menu{
      margin-left: 35px !important;
    }

    .artist-name{
      font-size: 10px;
    }

    .art-location{
      font-size: 10px;
    }

    .exhibition-year{
      font-size: 10px;
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
